@rendermode InteractiveServer

<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button mstc-gold-btn fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#@HelpArticle.Id" aria-expanded="false" aria-controls="@HelpArticle.Id">
            @HelpArticle.Title
        </button>
    </h2>
    <div id="@HelpArticle.Id" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            @((MarkupString)HelpArticle.Content)
        </div>
    </div>
</div>

@code {
    [Parameter]
    public HelpArticle HelpArticle { get; set; }

}
