<div>
    <div>
        <div class="HelpArticleTitle">@Article.Title</div=div>
    </div>
    <dib>
        <div class="HelpArticleContent">Atricle.Content </div>
    </dib>

</div>

@code {
    [Parameter]
    public HelpArticle HelpArticle { get; set; }

}
