<div class="helpArticle container mt-4">
    <div class="articleTitle row justify-content-center">
        <div class="col-12 text-center">
            <div class="helpArticle-title display-4 mb-3">
                @HelpArticle.Title
            </div>
        </div>
    </div>
    <div class="articlContent row">
        <div class="col-12">
            <div class="HelpArticleContent">
                @((MarkupString)HelpArticle.Content)
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public HelpArticle HelpArticle { get; set; }

}
