@page "/dashboard"
@using Timetable.BlazorUI.Components.Components
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@inject Blazored.Modal.Services.IModalService Modal
@inject IJSRuntime JS
@using Blazored.Modal
@using Blazored.Modal.Services
@rendermode InteractiveServer

<CascadingBlazoredModal />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-sm-12 mb-sm-3 mb-2 col-md-12">

            <CoursesDiv />
        </div>
        <div class="col-lg-5 col-sm-12 col-md-12">

            <TaskTypesDiv />
        </div>
    </div>
</div>


<div class="row mt-5 justify-content-center">
     <AuthorizeView Roles="Admin">
    <div class="col-4">
        <h2 class="text-center">Admin Tools</h2>
        <div class="bg-light row">
            <div class="col-4">
                <a href="admin/users" class="text-decoration-none">
                    <div class="card text-white Cardcolor-1 mb-3" style="max-width: 18rem;">
                        <div class="card-body text-center">
                            <i class="bi bi-people-fill h1"></i>
                            <h5 class="card-title text-center">Users</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-4">
                <a href="coursetype/create" class="text-decoration-none">
                    <div class="card text-white Cardcolor-2 mb-3" style="max-width: 18rem;">
                        <div class="card-body text-center">
                            <i class="bi bi-book h1"></i>
                            <h5 class="card-title text-center">Modalities</h5>
                        </div>
                    </div>
                </a> 
            </div>
            <div class="col-4">
                <a href="admin/term" class="text-decoration-none">
                    <div class="card text-white Cardcolor-1 mb-3" style="max-width: 18rem;">
                        <div class="card-body text-center">
                            <i class="bi bi-list-stars h1"></i>
                            <h5 class="card-title text-center">Terms</h5>
                        </div>
                    </div>
                </a>
                
            </div>
        </div>
    </div>
    </AuthorizeView>
    <div class="col-5">
        @* <h2>My Timetables</h2> *@
    </div>
</div>

<div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
            <header class="modal__header">
                <h2 class="modal__title" id="modal-1-title">
                    Micromodal
                </h2>
                <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
            </header>
            <main class="modal__content" id="modal-1-content">
                <p>
                    Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself. Also, <code>esc</code> to close modal.
                </p>
            </main>
            <footer class="modal__footer">
                <button class="modal__btn modal__btn-primary" @onclick="@OnCloseButtonClick" id="closeModalButton">Continue</button>
                <button class="modal__btn"  data-micromodal-close aria-label="Close this dialog window">Close</button>
            </footer>
        </div>
    </div>
</div>

@code{
    private CoursesDiv CourseDivObject;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initializeModal");
        }
    }

    private async Task OnCloseButtonClick()
    {
        CourseDivObject.Archive();
    }
}

