@page "/dashboard"
@using Timetable.BlazorUI.Components.Components
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@inject IJSRuntime JS
@rendermode @(new InteractiveServerRenderMode(prerender:false))

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-sm-12 mb-sm-3 mb-2 col-md-12">

            <CoursesDiv @ref="CourseDivObject" OnShow="ShowModal" />
        </div>
        <div class="col-lg-5 col-sm-12 col-md-12">

            <TaskTypesDiv @ref="TaskTypeDivObject" OnShow="ShowModal"/>
        </div>
    </div>
</div>


<div class="row mt-5 justify-content-center">
     <AuthorizeView Roles="Admin">
    <div class="col-4">
        <h2 class="text-center">Admin Tools</h2>
        <div class="bg-light row">
            <div class="col-4">
                <a href="admin/users" class="text-decoration-none">
                    <div class="card text-white Cardcolor-1 mb-3" style="max-width: 18rem;">
                        <div class="card-body text-center">
                            <i class="bi bi-people-fill h1"></i>
                            <h5 class="card-title text-center">Users</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-4">
                <a href="coursetype/create" class="text-decoration-none">
                    <div class="card text-white Cardcolor-2 mb-3" style="max-width: 18rem;">
                        <div class="card-body text-center">
                            <i class="bi bi-book h1"></i>
                            <h5 class="card-title text-center">Modalities</h5>
                        </div>
                    </div>
                </a> 
            </div>
            <div class="col-4">
                <a href="admin/term" class="text-decoration-none">
                    <div class="card text-white Cardcolor-1 mb-3" style="max-width: 18rem;">
                        <div class="card-body text-center">
                            <i class="bi bi-list-stars h1"></i>
                            <h5 class="card-title text-center">Terms</h5>
                        </div>
                    </div>
                </a>
                
            </div>
        </div>
    </div>
    </AuthorizeView>
    <div class="col-5">
    </div>
</div>

<ConfirmDialog OnClose="OnClose" />

@code{
    private object? selectedItem; 
    private CoursesDiv CourseDivObject;
    private TaskTypesDiv TaskTypeDivObject;

    private async Task OnClose()
    {
        if (selectedItem is Course course)
        {
            await CourseDivObject.Archive(); 
        }
        else if (selectedItem is TaskType taskType)
        {
            await TaskTypeDivObject.Archive(taskType);
        }

    }

    private async Task ShowModal(object item)
    {
        selectedItem = item;
        await JS.InvokeVoidAsync("modalInterop.showModal", "modal-1");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initializeModal");
        }
    }

}

