@page "/dashboard"
@using Timetable.BlazorUI.Components.Components
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web


<div class="row justify-content-center">
    <div class="col-5">
        <h2 class="text-center">My Courses</h2>
        <CoursesDiv />
    </div>
    <div class="col-4">
        <h2 class="text-center">My Task Types</h2>
        <TaskTypesDiv />
    </div>
</div>



