@using Blazored.Modal
@using Blazored.Modal.Services
@inject IModalService ModalService

<div class="modal-body">
    <p>@Message</p>
</div>
<div class="modal-footer">
    <button class="btn btn-secondary" @onclick="Cancel">@CancelButtonText</button>
    <button class="btn btn-danger" @onclick="Confirm">@ConfirmButtonText</button>
</div>

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter] public string Message { get; set; }
    [Parameter] public string ConfirmButtonText { get; set; } = "Confirm";
    [Parameter] public string CancelButtonText { get; set; } = "Cancel";

    private async Task Confirm()
    {
        await BlazoredModal.CloseAsync(ModalResult.Ok(true));
    }

    private async Task Cancel()
    {
        await BlazoredModal.CancelAsync();
    }
}
