
.bg-red {
    background-color: #811C32!important;
}

.helpArticle-title {
    color: #811C32!important;
    font-size: 20px;
}

.helpArticle {
    background-color: #f8f9fa; /* Light grey, Bootstrap's default light background */
    padding: 20px;
    border-radius: 8px;
}


/*Card Styling Start*/

.scrollable-card
{
    height: 188px;
    overflow-y: scroll;
}

.scrollable-card::-webkit-scrollbar 
{
        width: 12px; /* Width of the scrollbar */
}

.scrollable-card::-webkit-scrollbar-track 
{
    background: #f1f1f1; /* Background of the scrollbar track */
    border-radius: 10px; /* Rounded corners for the track */
}

.scrollable-card::-webkit-scrollbar-thumb 
{
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
}

.scrollable-card::-webkit-scrollbar-thumb 
{
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
}


.Cardcolor-1 {
    background-color: #F9C545;
}
    .Cardcolor-1:hover {
        background-color: #C59125; /* Darker shade for hover */
    }
.Cardcolor-2 {
    background-color: #FDDA8B;
}
    .Cardcolor-2:hover {
        background-color: #caad6f; /* Darker shade for hover */
    }

.CardText {
    font-weight: bold;
}

.CardIcon {
    transform: scale(1.5);
}

/*Card Styling End*/

.dropzone {
    padding: 30px;
    border: 1px solid #75868a;
    border-radius: 5px;
    list-style: none;
}

.no-drop {
    border: 2px dashed red;
}

.can-drop {
    border: 2px dashed green;
}

.draggable {
    margin-bottom: 10px;
    padding: 10px 25px;
    border: 1px solid #424d5c;
    cursor: grab;
    background: #5c6b7f;
    color: #ffffff;
    border-radius: 5px;
    width: 250px;
}
/*Card Styling End*/

/*Custom color-profile Classes Start*/

.mstc-gold-btn {
    background-color: #F8B62A;
    color: black;
}

    .mstc-gold-btn:hover {
        background-color: #C59125;
    }

.mstc-gold {
    background-color: #F8B62A;
    color: black;
}

.darkdiv {
    background-color: #bababa;
}

body {
    background-color: #f8f9fb;
}

@media print {
    body {
        background: none !important;
    }

    .noprint {
        display: none !important;
    }

    .timetable-duration {
        white-space: nowrap !important;
    }

    .timetable-logo {
        height: 50px;
    }

    .preview-finetext {
        font-size: 0.7em;
        font-weight: 100;
    }

    .preview-emphasis {
        font-size: .9em;
        font-weight: bold;
    }

    .preview-course-name {
        font-size: 1.1em;
        font-weight: bold;
        color: black;
    }

    @page {
        margin: 0.5in;
    }
}
