@media print {
    body {
        background: none!important;
    }

    .noprint {
        display: none!important;
    }

    .timetable-duration {
        white-space: nowrap!important;
    }

    .timetable-logo {
        height: 50px;
    }

    .preview-finetext {
        font-size: 0.7em;
        font-weight: 100;
    }

    .preview-emphasis {
        font-size: .9em;
        font-weight: bold;
    }

    .preview-course-name {
        font-size: 1.1em;
        font-weight: bold;
        color: black;
    }

    @page {
        margin: 0.5in;
    }
}
