::deep .previewWorkUnit-Row:nth-child(odd) {
    background-color: #F9C545;
}

::deep .previewWorkUnit-Row:nth-child(even) {
    background-color: #FDDA8B;
}

::deep .preview-emphasis {
    font-size: 1.1em;
    font-weight: bold;
}

::deep .preview-course-name {
    font-size: 1.2em;
    font-weight: bold;
    color: white;
}

@media print {
    ::deep body {
        background: none !important;
    }

    ::deep .noprint {
        display: none !important;
    }

    ::deep .timetable-duration {
        white-space: nowrap !important;
    }

    ::deep .timetable-logo {
        height: 50px;
    }

    ::deep .preview-finetext {
        font-size: 0.7em;
        font-weight: 100;
    }

    ::deep .preview-emphasis {
        font-size: 0.8em !important;
        font-weight: 500;
    }

    ::deep .preview-course-name {
        font-size: 1.1em;
        font-weight: bold;
        color: black;
    }

    @page {
        margin: 0.5in;
    }
}
