@inject IWorkTaskData WorkTaskData
@inject ITaskTypeData TaskTypeData

@if(BaseWorkTask != null )
{
    <div class="row border border-1 border-black">
        <div class="row workUnitTask-description d-flex justify-content-center align-items-center flex-column preview-emphasis">
            @BaseWorkTask.Description
        </div>

        <div class="row workUnitTask-details">
            @if (TaskType != null)
            {
                <div class="col-4 preview-finetext">
                    @TaskType.Name
                </div>  
            }
            <div class="col-4 text-nowrap preview-finetext">
                Minutes: @WorkUnitTask.Duration
            </div>
            <div class="col-4 preview-finetext">
                Due Date: Bummy Data
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public required WorkUnitTask WorkUnitTask { get; set; }

    public WorkTask? BaseWorkTask { get; set; }

    public TaskType TaskType { get; set; }
    protected override async Task OnInitializedAsync()
    {
        BaseWorkTask = await WorkTaskData.GetByIdAsync(WorkUnitTask.TaskId);
        TaskType = await TaskTypeData.GetTaskTypeAsync(BaseWorkTask.TypeId);
    }
}
