<div class="week-column align-items-center justify-content-center">
    <div class="vertical-text">@WorkUnit.Name</div>
</div>

@code {
    [Parameter]
    public required WorkUnit WorkUnit { get; set; }
}
