::deep .previewWorkUnit-Row:nth-child(odd) {
    background-color: #F9C545;
}

::deep .previewWorkUnit-Row:nth-child(even) {
    background-color: #FDDA8B;
}

::deep .preview-emphasis {
    font-size: 1.1em;
    font-weight: bold;
}

::deep .preview-course-name {
    font-size: 1.2em;
    font-weight: bold;
    color: white;
}

::deep .cards-container {
    padding: 1rem;
}

::deep .TimeTableHeader {
    padding-left: 1rem;
    max-width: 300px;
}

::deep .list-group-item {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
