
<div class="bg-light">
    @for (int i = 1; i <= courseWeeksCount; i++)
    {
        <div class="row border-1" style="height: 50px; background-color: @(i % 2 == 0 ? "#f8f9fa" : "#e9ecef"); display: flex; align-items: center;">
            <div class="w-25">
                Week # @i
            </div>
        </div>
    }
</div>


@code {
    [Parameter]
    public int courseWeeksCount { get; set; }


}
